body{
    
    color: #fff;
    margin: 0px;
    background-color: #FF6263;
}
.Navbar{
    color: #fff;
    text-decoration: none;
    list-style: none;
    background-color: #758283 ;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    
}

.link{
  border-radius: 8px;
  padding: 20px;
  background-color: transparent;
  height: 80px;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.anav{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
}

.link:hover {
    background-color: #6A1B4D;
}

.text{
    font-size: 5rem;
    font-weight: 900;
    color: black;
}
.time{
    background-color: yellow;
    padding: 15px;
    min-width: 70px;
    font-size: 2.3rem;
    font-weight: 500;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}