body{
    background-color: #212121;
    color: #fff;
    margin: 0px;
}
.Navbar{
    color: #fff;
    text-decoration: none;
    list-style: none;
    background-color: #758283 ;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    
}

.link{
  border-radius: 8px;
  padding: 20px;
  background-color: transparent;
  height: 80px;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
}
.anav{
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 2rem;
}

.link:hover {
    background-color: #6A1B4D;
}

.head{
    font-size: 50px ;
    font-weight: 900;
    display: flex;
    justify-content: center;   
    text-decoration: underline;
    margin: 10px;
}

.projecttitle{
    border: 2px solid ;
    width: 400px;
    padding: 20px;
    font-weight: 900;
    margin: auto auto;
    margin-top: 30px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    /* box-shadow: 20px; */
}

.projecttitle:hover{
    cursor: pointer;
    background-color: #6A1B4D;
}

.projectlink{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}